@import "simplemde/dist/simplemde.min.css";

* {
  box-sizing: border-box;
}

.main-content {
  display: grid;
  grid-template-columns: 20% 80%;
  font-family: sans-serif;
}

aside {
  padding: 1rem;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside ul ul {
  margin-left: 1rem;
}

aside li {
  display: block;
  width: 100%;
}

aside li a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  padding: 1rem;
}

aside li a:hover {
  background-color: lightgray;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button-row input {
  width: unset;
  flex-grow: 1;
  margin-bottom: 0;
}

label + p {
  margin-top: 0.1rem;
  margin-bottom: 1.4rem;
  color: #686868;
}

input[readonly] {
  background-color: #ddd;
}

#input-title {
  font-size: 2rem;
  width: unset;
  flex-grow: 1;
  padding: 0.5rem;
}

button, .button {
  padding: 0.75rem;
  border: 0;
  border-radius: 0.25rem;
  margin: 0 0.25rem 0 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle;
  color: white;
  min-width: 10rem;
}

.button-blue {
  background-color: #007bff;
}

.button-red {
  background-color: #c82333;
}

.button-row {
  display: flex;
  justify-content: end;
  margin-top: 0.25rem;
  align-content: center;
  align-items: center;
}

.warning {
  color: red;
  padding: 1rem;
}

.file-upload {
  padding: 1rem;
  border: 2px dotted gray;
  margin-bottom: 1.4rem;
}

.image-upload-container {
  display: flex;
  align-content: center;
  align-items: center;
  height: 80px;
}

.image-upload-container img {
  max-width: 50%;
  max-height: 100%;
}

.image-upload-container div {
  flex-grow: 1;
}

.images-table {
  display: grid;
  grid-template-columns: 1fr 50% 1fr 1fr 1fr;
  align-items: center;
}

.images-table-img-container {
  height: 4rem;
  overflow: hidden;
}

.table-title {
  font-weight: bold;
}

.images-table-img-container img {
  height: 100%;
  object-fit: scale-down;
}

.image-filename {
  word-wrap: anywhere;
}

.modal-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #0004;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  visibility: hidden;
}

.modal {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}