* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

article {
    max-width: 100rem;
    margin: auto;
    min-height: calc(100vh - 4rem);
}

blockquote {
    border-left: 4px solid gray;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 0;
    padding-left: 1rem;
}

blockquote p {
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 9;
    width: 15rem;
    background-color: white;
    box-shadow: 0 8px 16px 0 #0002;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav {
    display: flex;
    background-color: black;
    padding: 0 2rem 0 2rem;
    border-bottom: 4px solid #007bff;
}

.dropdown-label {
    padding: 1rem;
    width: 15rem;
    color: white;
    display: block;
    text-decoration: none;
}

.dropdown-content {
    border-top: 4px solid #007bff;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-content ul ul {
    margin-left: 1rem;
}

.dropdown-content li {
    display: block;
}

.dropdown-content li a {
    display: block;
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    color: black;
}

.dropdown-content li a:hover {
    background-color: #007bff;
}

.bottom-bar {
    text-align: center;
    padding: 1rem;
}

img {
    max-width: 100%;
}

pre {
    padding: 0.5rem;
    overflow-x: scroll;
}