<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div style="display: flex">
    <div>
        {{ cms_fragment('Home Column 1') | safe }}
    </div>

    <div>
        {{ cms_fragment('Home Column 2') | safe }}
    </div>
</div>
</body>
</html>