<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pygment.css') }}">
</head>
<body>
<nav>
    {% for page in nav %}
        <div class="dropdown">
            <a class="dropdown-label" href="{{ page.get_absolute_url() }}">
                {{ page.nav_title }}
            </a>

            <div class="dropdown-content">
                {% with pages=page.subpages %}
                    {% include 'recursive_nav.html' %}
                {% endwith %}
            </div>
        </div>
    {% endfor %}
</nav>
<article>
    <h1>{{ page.title }}</h1>


    <div>
        {{ page.html | safe }}
    </div>
</article>

<div class="bottom-bar">
    <a href="{{ url_for("simple_flask_cms.editor", path=page.path) }}">Edit this page</a>
</div>
</body>
</html>