<ul>
    {% for page in pages %}
        <li><a href="{{ url_for("simple_flask_cms.page", path=page.path) }}">{{ page.title }}</a></li>
        {% if page.subpages %}
            {% with pages=page.subpages %}
                {% include 'recursive_nav.html' %}
            {% endwith %}
        {% endif %}
    {% endfor %}
</ul>